@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.js-player-element {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.js-player-none {
    display: none;
}


.js-player-container {
    width: 300px;

    display: flex;
    flex-direction: column;
}

.js-player-top {
    display: flex;
}

.js-player-viewer {
    width: calc(100% + 10px);
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px 5px 0 0;

    gap: 25px;

    background-color: rgba(221, 3, 3, 0.945);

    color: rgb(255, 255, 255);
}

.js-player-disk {
    position: relative;
    margin-left: 20px;
}

@keyframes diskRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.js-player-disk {
    width: 75px;
    height: 75px;
    border-radius: 100%;

    border: 2px solid white;

    
}

.js-player-disk.play {
    animation: infinite diskRotation 3s linear;
}

.js-player-info {
    margin-right: auto;
}

.js-player-info-title {
    font-size: 11px;
}

.js-player-info-author {
    font-size: 9px;
}

.js-player-info-timeline {
    height: 5px;
    width: 120px;
    background-color: black;

    overflow: hidden;

    margin: 5px 0;

    border-radius: 2px;
}

.js-player-info-timeline-indicator {
    margin: 1px;
    width: 2%;
    height: calc(100% - 2px);
    background-color: rgba(221, 3, 3, 0.945);

    border-radius: 2px;

    transition: all 0.05s linear;
}

.js-player-info-time {
    font-size: 8px;
    color: rgba(216, 216, 216, 0.699);
}

.js-player-playlist {
    width: 100%;

    background-color: rgb(37, 37, 37);

    padding: 10px 5px;
    gap: 10px;

    border-radius: 0 0 5px 5px;
}

.js-player-playlist-content {
    max-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-x: hidden;
    overflow-y: auto;

    padding-right: 5px;

}

/* Style pour la barre de défilement */
.js-player-playlist-content::-webkit-scrollbar {
    width: 2px; /* Largeur de la barre de défilement */
}

/* Style pour le pouce (la partie déplaçable) de la barre de défilement */
.js-player-playlist-content::-webkit-scrollbar-thumb {
    background: rgba(221, 3, 3, 0.945); /* Couleur de la barre */
    border-radius: 10px; /* Coins arrondis */
}

/* Style pour la piste de la barre de défilement */
.js-player-playlist-content::-webkit-scrollbar-track {
    background: rgb(37, 37, 37); /* Couleur de la piste */
}


.js-player-playlist-song {
    height: 50px;

    padding: 5px;

    display: flex;
    align-items: center;

    gap: 20px;

    color: white;
    background-color: rgb(24, 24, 24);

    cursor: pointer;

    border-radius: 5px;

    transition: all 0.3s ease;
}

.js-player-playlist-song:hover {
    background-color: rgb(30, 30, 30);
    transition: all 0.3s ease;
}

.js-player-playlist-song.js-player-song-active {
    background-color: rgba(207, 0, 0, 0.178);
    transition: all 0.3s ease;

}

.js-player-playlist-song-img {
    width: 50px;
    height: 50px;


    border-radius: 2.5px;
}

.js-player-playlist-song-info-title {
    font-size: 12px;
}

.js-player-playlist-song-info-author {
    font-size: 10px;
    color: rgb(139, 139, 139);
    font-weight: 300;
}

.js-player-controller {
    height: 100%;
    width: 50px;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(24, 24, 24);

    gap: 5px;

    border-radius: 0 5px 0 0;
}

.js-player-controller > button {
    width: 25px;
    height: 25px;

    background-color: black;
    border-radius: 100%;
    border: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.3s ease;
}

.js-player-controller > button:hover {
    background-color: rgb(14, 14, 14);

    transition: all 0.3s ease;
}

.js-player-controller > button > ion-icon {
    padding: 0;
    margin: 0;

    transform: translate(1px, 1px);
}